body {
    margin: 0;
    background-color: #1F2937;
    color: #fff;
}

#random{
    color:#4ADF86;
    
}
.title,.text{
    margin-left: 120px;
    margin-top: 80px;
}
.text{
    margin-top: 2px;
}

#btn-passwords{
    background-color: #10B981;
    color: #fff;
    padding: 20px 20px 20px 30px; /* top right bottom left */
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 120px;
    border: 0;
    
    
}
hr{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 500px;
}

.passwords {
    display: flex;
    gap: 20px;
    margin-left:  120px;
}

.option {
    padding: 10px 60px;     
    background: #273549;    
    border-radius: 6px;
}

.option p {
    margin: 0;              
}



